[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/dockfries/samp-cmake-modules
[submodule "deps/samp-plugin-sdk"]
	path = deps/samp-plugin-sdk
	url = https://github.com/AmyrAhmady/samp-plugin-sdk.git
